.ls {
  background: #001030;
  color: white;
  height: 75vh;
}

.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 140px;
}

.ls-nav .menu img {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.ls-search {
  background-color: #002670;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
}

.ls-search img {
  width: 16px;
  opacity: 0.6;
}

.ls-search input {
  border: none;
  outline: none;
  font-size: 11px;
  background: transparent;
  color: white;
}

.ls-search input::placeholder {
  color: #c8c8c8;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.friends img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 10px;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: hsl(193, 100%, 76%);
  font-size: 11px;
}

.friends:hover {
  background-color: #1b6bff;
}

.friends:hover span {
  color: #ffffff;
}

.ls-nav .menu {
  position: relative;
  padding: 10px 0px;
}

.menu .sub-menu {
  width: 130px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.sub-menu hr {
  margin: 8px 0;
  border: none;
  background: #a4a4a4;
  height: 1px;
}

.sub-menu p {
  cursor: pointer;
  font-size: 14px;
}
